/models/integrated/protobrain/*.exe
/worlds/integrated/fworld/*.exe
*.exe
.idea/
.DS_Store
*.pkl
wandb/*
wandb/
__pycache__/
go.work
*.log
/.vscode/launch.json
/worlds/integrated/fworld/world.tsv
go.work.sum
*.pt
worlds/network.egg-info/*
models/configs/bone_config_ra25.yaml
